a {
  color: #4c4c4c;
}
a:hover,
a:active,
a:focus {
  color: #32cd32;
}
.col-green{
  color: #32cd32;
}
.col-green-bg{
  background-color: #32cd32;
}
.btn-rounded{
  border-radius: 15px;
}

.logo {
  margin: 0 20px 0 0;
  padding: 0;
  display: block;
  text-indent: -9999px;
  width: 200px;
  height: auto;
  background: url('../../assets/logo/logo.svg');
  background-size: 200px auto;
  background-repeat: no-repeat;
}

.actions{
  text-align: right;
}

footer.page-footer .footer-copyright{
  color: #a2a2a2;
  background-color: #4c4c4c;
}

footer.page-footer .footer-copyright a,
footer.page-footer .footer-copyright a:hover,
footer.page-footer .footer-copyright a:active,
footer.page-footer .footer-copyright a:focus{
  color: #a2a2a2;
}
